/* 
==========================
Index Page (homepage)
========================== 
*/



//layout
#home{

	// default layout  =============================================

	.featuredSpeakers{
		/*compass clearfix*/ 
		@include pie-clearfix();
		margin-bottom: $spacer;
	}

	.featuredInfo{
		
	}

	.introduction{
		@include col(1,1);
		/*font-size: 1.3em;*/
	}

	.speaker{
		@include no-col();
	}

	.date{
		@include col(5,12);
		/*font-size: 1.2em;*/
	}

	.location{
		@include col(7,12);
	}

	.track{
		@include col(1,1);
	}

	.content{
		background-color: #F0F0F0;
	}


	//x-small =============================================
	@include breakpoint(x-small){
		background-color: violet;

	}//end x-small

	//small =============================================
	@include breakpoint(small){
		background-color: red;
		/*.featuredInfo{
		//	@include no-col();
		}
		.date-location{
		//	@include col(1,3);
		}
		.featuredSpeakers{
		//	@include col(2,3);
		}
		.speaker img{
			width:50%;
			float:right;
		}
		.speaker h3{
			width:50%;
			float: left;
		}
		.speaker{
			@include pie-clearfix();
			margin-bottom: $spacer;
		}*/

	}//end small


	//medium breakpoint =============================================
	@include breakpoint(medium){
		background-color: green;


		/*.info{
			background-color: blue;
			img{
				@include no-col();
			}
			h3{
				@include no-col();
			}
		}
		*/
		.info{}

		.content{
			background-color: #F0F0F0;
			color: #F0F0F0;
		}

		.introduction{
			@include col(5,12);
			/*background-color: red;*/
		}

		.date{
			@include col(5,12);
					}

		.location{
			@include col(5,12);
		}

		.featured{
			@include no-col();
			background-color: pink;
		}
		.track{
			@include no-col();
		}

		.person{
			@include col(4,12);
		}

		.first{
			clear: both;
			margin-left: 17%;
		}

		.workshop{
			@include col(3,12);
		}
	}// end medium breakpoint



	//large breakpoint =============================================
	@include breakpoint(large){
		background-color: yellow;

		/*.featuredSpeakers{
			//@include col(12,12);
			h2{
				@include col(1,1);
			}
		}
		.speaker{
			@include col(1,4);
		}

		.featuredInfo{
			@include col(12,12);
		}

		.introduction{
			@include col(8,12);
			font-size: 1.6em
		}

		.date, .location{
			@include col(2,12);
		}

		.track{
			@include col(6,12);
		}*/
	}//end large breakpoint

	//x-large breakpoint  =============================================
	@include breakpoint(x-large){
		background-color: blue;
		color: white;

		.info{}

		.introduction{
			@include col(4,12);
		}

		.featured{
			@include col(2,3);
		}

		.workshops{
			@include col(1,3);
		}
		.person{
			@include col(1,2);
			/*background-color: green;*/
		}

		.first{
			/*@include no-col();
			background-color: yellow;
			clear: both;*/
			margin-left: 0px;
		}

		.workshop{
			@include no-col();
			/*background-color: red;*/
		}

		.date{
			@include col(2,3);
			float: right;
			/*background-color: brown;*/
		}

		.location{
			@include col(2,3);
			float: right;
			/*background-color: orange;*/
			clear: both;
		}

		.content{
			/*background-color: purple;*/
		}
	

	}//end xlarge breakpoint


	@include breakpoint(xx-large){
		background-color: orange;
	}//end xxlarge breakpoint

}
//end #home





