/* 
==========================
Schedule Page 
========================== 
*/



//layout
#schedule{



// default layout =============================================


	//x-small =============================================
	@include breakpoint(x-small){
		background-color: violet;

	}//end x-small breakpoint



	//small =============================================
	@include breakpoint(small){
		background-color: red;
		
	}//end small breakpoint



	//medium breakpoint =============================================
	@include breakpoint(medium){
		background-color: green;

		.info{}

		.opening{
			@include col(1,2);
			background-color: #CC9900;
		}

		.ses1, .ses2, .ses3, .ses4 {
			@include col(1,2);
			clear: both;
			float: right;
		}

		.ses1{
			background-color: #D1A319;
		}

		.ses2{
			background-color: #D6AD33;
		}

		.ses3{
			background-color: #D6AD33;
		}

		.ses4{
			background-color: #DBB84D;
		}

		.lunch{
			@include col(1,2);
			clear: both;
			background-color: #D1A319;
		}

		.closing{
			@include col(1,2);
			clear: both;
			background-color: #D6AD33;
		}



	}// end medium breakpoint



	//large breakpoint =============================================
	@include breakpoint(large){
		background-color: yellow;

	}//end large breakpoint



	//x-large breakkpoint  =============================================
	@include breakpoint(x-large){
		background-color: blue;
		color: white;

		.info{}

		.content{
			background-color: #F0F0F0;
		}
		.opening, .ses1, .ses2 {
			@include col(1,3);
			clear: none;
			overflow: hidden;
		}

		.opening{
			padding-bottom: 57px;
		}



		.lunch, .ses3, .ses4 {
			@include col(1,3);
			clear: none;
		}

		.lunch{
			padding-bottom: 170px;
		}

		.closing{
			@include no-col();
			clear: both;
		}

	}//end xlarge breakpoint


	//xx-large breakpoint  =============================================
	@include breakpoint(xx-large){
		background-color: orange;

	}//end xxlarge breakpoint
}//end #about
