/* 
==========================
Schedule Page 
========================== 
*/



//layout
#schedule{



// default layout =============================================

background-color: #F0F0F0;

	//medium breakpoint =============================================
	@include breakpoint(medium){
		background-color: #F0F0F0;

		.info{}

		h1.title{ font-size: 50px; }

		.opening{
			@include col(1,2);
			background-color: #CC9900;
		}

		.ses1, .ses2, .ses3, .ses4 {
			@include col(1,2);
			clear: both;
			float: right;
		}

		.ses1{
			background-color: #D1A319;
		}

		.ses2{
			background-color: #D6AD33;
		}

		.ses3{
			background-color: #D6AD33;
		}

		.ses4{
			background-color: #DBB84D;
		}

		.lunch{
			@include col(1,2);
			clear: both;
			background-color: #D1A319;
		}

		.closing{
			@include col(1,2);
			clear: both;
			background-color: #D6AD33;
		}

		a.menu	/*all - the navigation*/

			{	
				font-size: 45px;
			}

		a.nav	/*all - the navigation*/

			{	
				font-size: 30px; line-height: 40px; margin-left: 35%;
			}

		a.top	/*all - the navigation*/

			{	
				font-size: 17px;
			}

			p.add1	/*all*/

			{	
				color: #F0F0F0; font-size: 11px; padding-top: 70px;
			}

			p.add2	/*all*/
			{	
				color: #F0F0F0; font-size: 11px; padding-bottom: 30px;
			}

	}// end medium breakpoint



	//x-large breakpoint  =============================================
	@include breakpoint(x-large){
		background-color: #F0F0F0;

		.info{}

		h1.title{ font-size: 65px; }
		
		.content{
			background-color: #F0F0F0;
		}
		.opening, .ses1, .ses2 {
			@include col(1,3);
			clear: none;
			overflow: hidden;
		}

		.opening{
			padding-bottom: 57px;
		}



		.lunch, .ses3, .ses4 {
			@include col(1,3);
			clear: none;
		}

		.lunch{
			padding-bottom: 170px;
		}

		.closing{
			@include no-col();
			clear: both;
		}

		a.menu	/*all - the navigation*/

			{	
				font-size: 60px;
			}

		a.nav	/*all - the navigation*/

			{	
				font-size: 40px; line-height: 40px; margin-left: 35%;
			}

		a.top	/*all - the navigation*/

			{	
				font-size: 25px;
			}

			p.add1	/*all*/

			{	
				color: #F0F0F0; font-size: 12px; padding-top: 70px;
			}

			p.add2	/*all*/
			{	
				color: #F0F0F0; font-size: 12px; padding-bottom: 30px;
			}
	}//end xlarge breakpoint

}//end #about
