/* 
==========================
Sessions Page 
========================== 
*/

//layout
#sessions{

background-color: #F0F0F0;

// default layout =============================================

/* 
----------
CONTAINERS STYLE
----------
*/


.cw
{
	margin: 1px;
	width: 100%;
	background-color: #F0F0F0;
	border: none;
	clear: both;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.cws
{
	margin: auto;
	width: 100%;
	background-color: #F0F0F0;
	border: none;
	/*clear: both;*/
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.fa
{
	margin: 1px;
	width: 100%;
	background-color: #F0F0F0;
	border: none;
	clear: both;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.fas
{
	margin: auto;
	width: 100%;
	background-color: #F0F0F0;
	border: none;
	/*clear: both;*/
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.pa
{
	margin: 1px;
	width: 100%;
	background-color: #F0F0F0;
	border: none;
	clear: both;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.pas
{
	margin: auto;
	width: 100%;
	background-color: #F0F0F0;
	border: none;
	/*clear: both;*/
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.ma
{
	margin: 1px;
	width: 100%;
	background-color: #F0F0F0;
	border: none;
	clear: both;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.mas
{
	margin: auto;
	width: 100%;
	background-color: #F0F0F0;
	border: none;
	/*clear: both;*/
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

/* 
----
TEXT STYLE
----
*/


h1.ses	/*sessions*/

	{	
		font-family: Century Gothic, Trebuchet MS, Myriad Pro, Arial, Verdana;
		font-size:20px;
		font-weight: bold;
		color: purple;
		text-align:center;
		text-indent:0px;
		text-decoration:none;
		margin: 2px;
	}

h2.ses	/*sessions*/

	{	
		font-family: Century Gothic, Trebuchet MS, Myriad Pro, Arial, Verdana;
		font-size:16px;
		font-weight: bold;
		color: #990033;
		text-align:justify;
		text-indent: 5px;
		text-decoration:none;
		margin: 7px;
	}
	
h3.ses	/*sessions*/

	{	
		font-family: Century Gothic, Trebuchet MS, Myriad Pro, Arial, Verdana;
		font-size:14px;
		font-weight: normal;
		color: #990033;
		text-align:justify;
		text-indent: 5px;
		text-decoration:none;
		margin: 5px;
	}

p.ses	/*sessions*/
	{	
		font-family: Tahoma, Trebuchet MS, Myriad Pro, Arial, Verdana;
		font-size:13px;
		font-weight: normal;
		color:black;
		text-align:justify;
		text-indent: 0px;
		text-decoration:none;
		/*clear:both;*/
		margin: 10px;
	}
	
p.pres	/*sessions*/
	{	
		font-family: Tahoma, Trebuchet MS, Myriad Pro, Arial, Verdana;
		font-size:13px;
		font-weight: normal;
		color:black;
		text-align:justify;
		text-indent: 0px;
		text-decoration:none;
		margin: 10px;
		clear:both;
	}



	//medium breakpoint =============================================
	@include breakpoint(medium){
		background-color: #F0F0F0;
		
		.info{
		}

		h1.title{ font-size: 50px; }

		.fa, .pa, .cw, .ma{
			clear: both;
			overflow: hidden;
		}

		.newline{
			clear: both;
		}

		.session{
			@include col(1,2);
		}

		h1.ses{ font-size: 25px; padding: 20px; }

		a.menu	/*all - the navigation*/

			{	
				font-size: 45px;
			}

		a.nav	/*all - the navigation*/

			{	
				font-size: 30px; line-height: 40px; margin-left: 35%;
			}

		a.top	/*all - the navigation*/

			{	
				font-size: 17px;
			}

			p.add1	/*all*/

			{	
				color: #F0F0F0; font-size: 11px; padding-top: 70px;
			}

			p.add2	/*all*/
			{	
				color: #F0F0F0; font-size: 11px; padding-bottom: 30px;
			}

		a.menu	/*all - the navigation*/

			{	
				font-size: 45px;
			}

		a.nav	/*all - the navigation*/

			{	
				font-size: 30px; line-height: 40px; margin-left: 35%;
			}

		a.top	/*all - the navigation*/

			{	
				font-size: 17px;
			}

			p.add1	/*all*/

			{	
				color: #F0F0F0; font-size: 11px; padding-top: 70px;
			}

			p.add2	/*all*/
			{	
				color: #F0F0F0; font-size: 11px; padding-bottom: 30px;
			}
	}// end medium breakpoint


	//x-large breakkpoint  =============================================
	@include breakpoint(x-large){
		background-color: #F0F0F0;
		
		.info
		{}

		h1.title{ font-size: 65px; }
		
		.session{
			@include col(1,4);
		}

		.cws, .fas, .pas, .mas{
			@include col(1,4);
		}

		.newline{
			clear: none;
		}

		h1.ses{ font-size: 35px; padding: 20px; }

		a.menu	/*all - the navigation*/

			{	
				font-size: 60px;
			}

		a.nav	/*all - the navigation*/

			{	
				font-size: 40px; line-height: 40px; margin-left: 35%;
			}

		a.top	/*all - the navigation*/

			{	
				font-size: 25px;
			}

			p.add1	/*all*/

			{	
				color: #F0F0F0; font-size: 12px; padding-top: 70px;
			}

			p.add2	/*all*/
			{	
				color: #F0F0F0; font-size: 12px; padding-bottom: 30px;
			}
	}//end xlarge breakpoint

}//end #about