/* 
==========================
Speakers Page 
========================== 
*/
//layout
#speakers{



// default layout =============================================

background-color: #F0F0F0;

	//medium breakpoint =============================================
	@include breakpoint(medium){
		background-color: #F0F0F0;

		.info{}

		h1.title{ font-size: 50px; }

		.speaker{
			@include col(5,12);
		}

		.first{
			clear: both;
		}

		.group{
			clear: both;
			margin-left: 20%;
			margin-bottom: 100px;
		}

		p.speak{ font-size: 14px; color: black; }

		a.menu	/*all - the navigation*/

			{	
				font-size: 45px;
			}

		a.nav	/*all - the navigation*/

			{	
				font-size: 30px; line-height: 40px; margin-left: 35%;
			}

		a.top	/*all - the navigation*/

			{	
				font-size: 17px;
			}

			p.add1	/*all*/

			{	
				color: #F0F0F0; font-size: 11px; padding-top: 70px;
			}

			p.add2	/*all*/
			{	
				color: #F0F0F0; font-size: 11px; padding-bottom: 30px;
			}

			a.menu	/*all - the navigation*/

			{	
				font-size: 45px;
			}

		a.nav	/*all - the navigation*/

			{	
				font-size: 30px; line-height: 40px; margin-left: 35%;
			}

		a.top	/*all - the navigation*/

			{	
				font-size: 17px;
			}

			p.add1	/*all*/

			{	
				color: #F0F0F0; font-size: 11px; padding-top: 70px;
			}

			p.add2	/*all*/
			{	
				color: #F0F0F0; font-size: 11px; padding-bottom: 30px;
			}
	}// end medium breakpoint


	//x-large breakkpoint  =============================================
	@include breakpoint(x-large){
		background-color: #F0F0F0;

		.info{}

		h1.title{ font-size: 65px; }
		
		.group{
			clear: both;
			margin-left: 20%;
			margin-bottom: 100px;
		}

		p.speak{ font-size: 16px; color: black; line-height: 23px; }

		a.menu	/*all - the navigation*/

			{	
				font-size: 60px;
			}

		a.nav	/*all - the navigation*/

			{	
				font-size: 40px; line-height: 40px; margin-left: 35%;
			}

		a.top	/*all - the navigation*/

			{	
				font-size: 25px;
			}

			p.add1	/*all*/

			{	
				color: #F0F0F0; font-size: 12px; padding-top: 70px;
			}

			p.add2	/*all*/
			{	
				color: #F0F0F0; font-size: 12px; padding-bottom: 30px;
			}

	}//end xlarge breakpoint

}//end #about